.myprojects-menu{
    text-decoration: none;
}

.main-txt{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    color: rgb(56, 56, 56);
}

.main{
    gap: 35px;
}

.main-moving-card-place{
    display: flex;
    justify-content: space-between;
}

.main-moving-card{
    width: 28vw;
    height: auto;
    background: #DADADA;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.moving-card-1-flags-overflow{
    position: relative;
    width: 28vw;
    height: 180px;
    overflow: hidden;
}

.moving-card-1-flags-full{
    position: absolute;
    width: 56vw;
    display: grid;
    width: max-content;
    grid-auto-flow: column;
    height: 180px;
    transition: all 750ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.moving-card-1-flags-Ukraine{
    width: 28vw;
    background: url(../png/groups/Ukraine-2109x1406.jpg) center/cover;
}

.moving-card-1-flags-Poland{
    width: 28vw;
    background: url(../png/groups/Wroclaw1170.jpg) center/cover;
}

.moving-card-1-flags-gradient{
    position: relative;
    width: 28vw;
    height: 180px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(218,218,218,1) 100%);
}

.moving-card-1-flags-Ukraine-icon,
.moving-card-1-flags-Poland-icon{
    position: absolute;
    width: 60px;
    height: 30px;
    top: 5px;
    left: 0px;
    background: url(../png/Ukraine.png) center/cover;
}

.moving-card-1-flags-text{
    position: absolute;
    width: 130px;
    bottom: 5px;
    left: 5px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;
    color: rgb(56, 56, 56);
}

.moving-card-1-flags-Poland-icon{background: url(../png/Poland.png) center/cover;}

.main-moving-card input{
    display: none;
}

.moving-card-labels{
    height: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.label-Ukraine,
.label-Poland{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #808080;
    transition: color 500ms;
}

#input-Ukraine:checked ~ .moving-card-labels .label-Ukraine,
#input-Poland:checked ~ .moving-card-labels .label-Poland{color: rgb(56, 56, 56);}

.label-Ukraine:hover,
.label-Poland:hover{color: rgb(56, 56, 56);}

#input-Ukraine:checked ~ .moving-card-1-flags-overflow .moving-card-1-flags-full{left: 0px;}
#input-Poland:checked ~ .moving-card-1-flags-overflow .moving-card-1-flags-full{left: -28vw;}