@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    margin: 0px;
}

.main{
    width: 100%;
    min-height: 100vh;
    background: url(../png/js_group/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg) center/cover;
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 70px;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(114, 114, 114, 0.25);
}

.header-top{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 0px 40px;
    background: linear-gradient(180deg, #F3F3F3 0%, #EAEAEA 100%);
}

.header-left{
    align-items: center;
    position: relative;
    left: 0px;
    display: flex;
    gap: 40px;
}

.main-icon{
    width: 48px;
    height: 48px;
    border: 4px solid #40939E;
    border-radius: 50%;
    background: url(../png/js_group/IMG_20191108_211653.jpg) center/cover;
}

.project-name{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #3A666C;
}

.header-right{
    align-items: center;
    position: relative;
    height: 50px;
    right: 0px;
    display: flex;
    gap: 20px;
}

.links-profiles-btn{
    padding: 0px;
    border: none;
    outline: none;
    cursor: pointer;
}

.fa-link{
    font-size: 40px;
    transition: 500ms;
}

.links-profiles-btn:hover > .fa-link{
    transform:matrix(-1.00,0.00,0.00,1.00,0,0);
    -ms-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
    -webkit-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
}

.profile-links{
    display: none;
    gap: 20px;
}

.link-profile{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 200ms;
    cursor: pointer;
}

.link-github{background: url(../png/github.png) center/cover;}
.link-telegram{background: url(../png/telegram.png) center/cover;}
.link-instagram{background: url(../png/instagram.png) center/cover;}
.link-discord{background: url(../png/discord.png) center/cover;}


.link-profile:active,
.link-profile:visited{
    border: 4px solid #40939E;
}

.fa-arrow-up{
    font-size: 40px;
    transition: 500ms;
    cursor: pointer;
    transform: matrix(-1.00,0.00,-0.00,-1.00,0,0);
}

.rectangles{
    padding: 0px 5px;
    border: none;
    outline: none;
}

.header-bottom-overflow{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 750ms;
}

.header-bottom{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -80px;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, #EAEAEA 0%, #EAEAEA 0.01%, #C8C8C8 100%);
    transition: 750ms;
}

.dropdownorlink{
    display: flex;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;
    background: none;
    padding: 0px;
    cursor: pointer;
}

.dropdownorlink-txt,
.fa-chevron-up{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #000000;
    transition: 400ms;
}

.fa-chevron-up{
    font-size: 30px;
    transform:matrix(1.00,0.00,0.00,-1.00,0,0);
    -ms-transform:matrix(1.00,0.00,0.00,-1.00,0,0);
    -webkit-transform:matrix(1.00,0.00,0.00,-1.00,0,0);
}

.dropdownorlink:focus > .dropdownorlink-txt,
.dropdownorlink:focus > .fa-chevron-up{color: #40939E;}
.dropdownorlink:focus > .fa-chevron-up{
    transform:matrix(-1.00,0.00,0.00,1.00,0,0);
    -ms-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
    -webkit-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
}

.dropdown-myprojects-menu-overflow{
    position: absolute;
    display: none;
    margin-top: 185px;
    background: #D9D9D9;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transition: margin 750ms, opacity 750ms, left 750ms;
}

.myprojects-menu{
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    gap: 20px;
    padding: 6px 20px;
    background: #B0B0B0;
    cursor: pointer;
}

.myprojects-menu-txt{
    width: 100px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
}

.myprojects-menu:hover{
    background: #969696;
}

.myprojects-menu:hover > .myprojects-menu-txt{
    color: #3A666C;
}

.myprojects-menu-line{
    height: 1.1px;
    background: #969696;
}

.myprojects-menu-icon{
    width: 40px;
    height: 40px;
}

.menu-icon-1{background: url(../png/css3.png) center/cover;}
.menu-icon-2{background: url(../png/html.png) center/cover;}
.menu-icon-3{background: url(../png/javascript.png) center/cover;}
.menu-icon-4{background: url(../png/c.png) center/cover;}
.menu-icon-5{background: url(../png/csharp.png) center/cover;}
.menu-icon-6{background: url(../png/python.png) center/cover;}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 110px 50px;
    box-sizing: border-box;
}

.main-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 25px;
    background: #EAEAEA;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

.javascript-txt{
    font-family: 'Inter';
    width: 220px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #40939E;
}

.javascript-btns-leftright{
    display: flex;
    gap: 30px;
}

.js-btn-left,
.js-btn-right{
    outline: none;
    border: none;
    background: none;
    padding: 0px;
}

.js-arrow{
    font-size: 42px;
    color: #40939E;
    transition: transform 600ms;
    cursor: pointer;
}

.js-arrow-block{
    transition: transform 600ms;
}

.js-btn-right:hover > .js-arrow-block,
.js-btn-left:hover > .js-arrow-block{
    transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
    -ms-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
    -webkit-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
}

.js-btn-left:hover > .js-arrow-block .js-arrow,
.js-btn-right:hover > .js-arrow-block .js-arrow{
    transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
    -ms-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
    -webkit-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
}

.javascript-btn{
    outline: none;
    border: none;
    background: none;
}

.javascript-btn-back{
    color: #40939E;
}

.main-block-bottom-overflow{
    overflow: hidden;
    border-radius: 35px;
    height: 0px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: height 2s;
}

.main-block-bottom{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    gap: 35px;
    background: #EAEAEA;
    padding: 35px 35px;
    box-sizing: border-box;
}

.main-block-bottom-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 190px;
    background: #DADADA;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.main-js-card-1{
    display: grid;
    grid-template-rows: 1fr 2px 1fr 2px 1fr;
    padding: 0px 10px;
}

.main-js-card-part{
    display: grid;
    align-items: center;
    grid-template-columns: 42px 1fr;
    gap: 10px;
}

.main-js-card-part-2{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

.main-js-card-part-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-js-card-line{
    height: 2.05px;
    background: #BBBBBB;
}

.main-js-card-top-jsicon{
    width: 42px;
    height: 42px;
    background: url(../png/javascript.png) center/cover;
    border-radius: 8px;
}

.main-js-card-top-txt{
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.main-js-card-center-txt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #3A666C;
}

.main-js-card-bottom-txt-block{
    display: flex;
    width: 82px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: width 500ms;
}

.main-js-card-bottom-txt{
    width: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #40939E;
}

.main-js-arrow{
    font-size: 14px;
    color: #40939E;
}

.main-js-card-bottom-txt-block:hover{width: 88px;}
.main-js-card-bottom-txt-block:hover > .main-js-card-bottom-txt,
.main-js-card-bottom-txt-block:hover > .main-js-arrow{
    transition: color 500ms;
    color: #bdaa1c;
}

.main-js-card-bottom-jsicon{
    width: 42px;
    height: 42px;
    background: url(../png/github.png) center/cover;
}

.main-js-card-2{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.js-1{background: url(../png/js_group/south-american-casinos.jpg) center/cover;}
.js-2{background: url(../png/js_group/javascript.png) center/cover;}
.js-3{background: url(../png/js_group/134466527-stopwatch-watch-or-timer-in-hand-stop-time-on-competition-businessman-time-control-concept-cartoon-f.webp) center/cover;}
.js-4{background: url(../png/js_group/yellow-Wall-Clock-Lime-Modern-Kitchen-Clock-Watch-Home-Decor-Living-Room-Clock-Tropical-Fruit-Wall.jpg_Q90.jpg_.webp) center/cover;}
.js-5{
    background: url(../png/js_group/file-20191003-52832-1sexfyt.webp) center/cover;
    background-position-x: 222px;
}
.js-6{background: url(../png/js_group/javascript.png) center/cover;}
.js-7{background: url(../png/js_group/javascript.png) center/cover;}
.js-8{background: url(../png/js_group/calculator-with-modern-flat-style_3322-74.jpg) center/cover;}
.js-9{background: url(../png/js_group/maxresdefault\ \(1\)\ 2.png) center/cover;}
.js-10{background: url(../png/js_group/download.png) center/cover;}
.js-10-1{background: url(../png/js_group/javascript.png) center/cover;}
.js-11{background: url(../png/js_group/One-Punch-Man-Business-Card-HTML-CSS.png) center/cover;}
.js-12{background: url(../png/js_group/javascript.png) center/cover;}
.js-13{background: url(../png/js_group/xy.jfif) center/cover;}
.js-14{background: url(../png/js_group/dd\ menu.png) center/cover;}