@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    margin: 0px;
}

.main{
    width: 100%;
    height: 100vh;
    background: url(../png/js_group/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg) center/cover;
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 70px;
    box-shadow: 0px 10px 10px rgba(114, 114, 114, 0.25);
}

.header-top{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 0px 40px;
    background: linear-gradient(180deg, #F3F3F3 0%, #EAEAEA 100%);
}

.header-left{
    align-items: center;
    position: relative;
    left: 0px;
    display: flex;
    gap: 40px;
}

.main-icon{
    width: 48px;
    height: 48px;
    border: 4px solid #40939E;
    border-radius: 50%;
    background: url(../png/js_group/IMG_20191108_211653.jpg) center/cover;
}

.project-name{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #3A666C;
}

.header-right{
    align-items: center;
    position: relative;
    right: 0px;
    display: flex;
    gap: 20px;
}

.links-profiles-btn{
    padding: 0px;
    border: none;
    outline: none;
}

.links-profiles-btn-back{
    width: 40px;
    height: 40px;
    background: url(../png/groups/Rectangle\ 17.png) center/cover;
    transition: 500ms;
}

.links-profiles-btn:hover > .links-profiles-btn-back{
    transform:matrix(-1.00,0.00,0.00,1.00,0,0);
    -ms-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
    -webkit-transform:matrix(-1.00,0.00,0.00,1.00,0,0);
}

.profile-links{
    display: none;
    gap: 20px;
}

.link-profile{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 200ms;
}

.link-github{background: url(../png/github.png) center/cover;}
.link-telegram{background: url(../png/telegram.png) center/cover;}
.link-instagram{background: url(../png/instagram.png) center/cover;}
.link-discord{background: url(../png/discord.png) center/cover;}


.link-profile:active,
.link-profile:visited{
    border: 4px solid #40939E;
}

.rectangles{
    width: 20px;
    height: 40px;
    background: url(../png/groups/Group\ 1.png) center;
    background-size: 20px 46px;
    background-position: 0px -1px;
    border: none;
    outline: none;
}

.header-bottom-overflow{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 750ms;
}
.header-bottom{
    position: relative;
    top: -100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #EAEAEA 0%, #EAEAEA 0.01%, #C8C8C8 100%);
    transition: 750ms;
}